{% extends 'shared/layout.html' %}
{% load static %}
{% load jalali_date_tag %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

                <div class="row">
                    <div class="col-lg-9 col-md-8 col-sm-12 col-12 mb-3">
                        <div class="content-page">
                            <div class="content-desc dt-sn dt-sl">
                                <header class="entry-header dt-sl mb-3">
                                    <div class="post-meta date">
                                        <i class="mdi mdi-calendar-month"></i>{{ blog.created_date | show_jalali_month}}
                                    </div>
                                    <div class="post-meta author">
                                        <i class="mdi mdi-account-circle-outline"></i>
                                        ارسال شده توسط<a href="#">{{blog.user}}</a>
                                    </div>
                                    <div class="post-meta category">
                                        <i class="mdi mdi-folder"></i>
                                        <a href="#">دسته‌بندی نشده</a> ، <a href="#">کسب و کار آنلاین</a> ، <a
                                            href="#">معرفی کتاب</a>
                                    </div>
                                    <div class="post-meta category">
                                        <i class="mdi mdi-eye"></i>
                                        433 بازدید
                                    </div>
                                </header>
                                <div class="post-thumbnail dt-sl">
                                    <img src="{{blog.image.url}}" alt="">
                                </div>
                                <br>
                                <div class="text italy text-center ">
                                    <p>{{blog.title}}</p>
                                    <ul style="list-style: none;">
                                        <li>{{blog.main_text | safe}}</li>
                                        
                                       </ul>    
                                        
                                </div>
                            </div>
                        </div>
                        <div class="comments-area dt-sl my-3">
                            <div class="dt-sn">
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col-md-8">
                                        <div class="form-ui blog-comment">
                                            <form>
                                                <div class="row">
                                                    <div class="col-12 mt-3 mb-3">
                                                        <div class="form-row-title mb-2">متن نظر شما (اجباری)</div>
                                                        <div class="form-row">
                                                            <textarea id="comment_text" class="input-ui pr-2 pt-2" rows="5"
                                                                placeholder="متن خود را بنویسید"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 px-3">
                                                        <p class="d-block">با “ثبت نظر” موافقت خود را با <a href="#"
                                                                class="border-bottom-dt" target="_blank">قوانین
                                                                انتشار محتوا</a> در دیجی‌کالا اعلام می‌کنم.</p>
                                                        <button onclick="blog_comment_create({{blog.id}})" class="btn btn btn-primary px-3">
                                                            ثبت نظر
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                            
                            <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 mt-5 dt-sl">
                                <h2>نظرات کاربران</h2>
                                <p class="count-comment">{{comments.count}} نظر</p>
                            </div>
                            <div class="col"></div>
                            <ol class="comment-list">
                                <!-- #comment-## -->
                                {% for comment in comments %}
                                {% if comment.parent == None %}
                                
                                <div class="container"><li>
                                    <div class="comment-body">
                                        <div class="row justify-content-center ">
                                            
                                            
                                            <div class="col-md-10 col-sm-12 comment-content">
               
                                                <div class="comment-author">
                                                    <div class="row">
                                                        <div class="col align-self-start">
                                                            <img class="" src="{{comment.user.user_profile.url}}" alt="..." style="font-size: 28px;
                                                    
                                                            right: -20px;
                                                            top: -27px;
                                                            width: 50px;
                                                            height: 50px;

                                                            border-radius: 10px;
                                                            color: #fff;
                                                            text-align: center;
                                                            line-height: 50px;"/>
                                                        </div>
                                                        <div class="col">

                                                        </div>
                                                        <div class="col align-self-end pt-2 ">
                                                           <p> {{comment.user.get_full_name | upper }} در تاریخ {{ comment.created_date | show_jalali_month }}</p>                                                          </div>

                                                        </div>
                                                    </div>
                                                    
                                                <p>{{ comment.text }}</p>
                                                <br>
                                               <div class="container">
                                                  <div class="row align-items-end align-items-center ">
                                                     <div class="col align-self-end align-items-center">
                                                         <button class="btn btn-danger  mb-2 " class="btn collapsed" type="button" data-toggle="collapse"
                                                         data-target="#collapse{{comment.id}}" aria-expanded="false"
                                                         aria-controls="collapseOne" ><i
                                                         class="mdi mdi-comment-text-multiple-outline"></i> پاسخ ها </button>
                                                         <button class="btn btn-primary  mb-2" type="button"
                                                         data-toggle="collapse"
                                                         data-target="#form_collapse{{comment.id}}"
                                                         aria-expanded="false"
                                                         aria-controls="form_collapse{{comment.id}}">
                                                         پاسخ دهید</button>
                                                         
                                                     </div>

                                                      <div class="col ">
                                                        
                                                            <div class="comments-likes">
                                                               
                                                                <button  onclick="blog_comment_like({{comment.id}})" class="btn-like" > <span id="cosume-like-{{comment.id}}">{{ comment.total_likes }}</span> لایک  
                                                                </button>
                                                                <button onclick="blog_comment_dislike({{comment.id}})" class="btn-like" > <span id="cosume-dislike-{{comment.id}}">{{ comment.total_dislikes }}</span> دیس لایک
                                                                </button>
                                                              </div>
                                                              
                                                          
                                                      </div>
                                                  </div>
                                                  <div class="accordion dt-sl accordion-product" id="accordionExample">
                                                    <div class="card">
                                                        <div class="card-header" id="headingThree">
                                                            <h5 class="mb-0">
                                                                
                                                            </h5>
                                                        </div>
                                                        <div id="form_collapse{{comment.id}}" class="collapse" aria-labelledby="headingThree"
                                                            data-parent="">
                                                            <div class="card-body">
                                                            
                                                                    <div class="section-title title-wide no-after-title-wide dt-sl">
                                                                        <h2>پرسش و پاسخ</h2>
                                                                        <p class="count-comment">پرسش خود را در مورد محصول مطرح نمایید</p>
                                                                    </div>
                                                                    <div class="form-question-answer dt-sl mb-3">
                                                                        
                                                                            <textarea id="reply_blog_comment{{comment.id}}" class="form-control mb-3" rows="5"></textarea>
                                                                            <button onclick="reply_to_blog_comment({{comment.id}},{{blog.id}})" 
                                                                                    class="btn btn-dark float-right ml-3" >ثبت پرسش</button>
                                                                            <div class="custom-control custom-checkbox float-right mt-2">
                                                                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                                                                <label class="custom-control-label" for="customCheck3">اولین پاسخی که به
                                                                                    پرسش من داده شد، از طریق ایمیل به من اطلاع دهید.</label>
                                                                            </div>
                                                                        
                                                                    </div>
                                                            </div>
                                                        </div>
                                                        <div class="card">
                                                            <div class="card-header" id="headingOne">
                                                                <h5 class="mb-0">
                                                                
                                                                </h5>
                                                            </div>
                    
                                                            <div id="collapse{{comment.id}}" class="collapse" aria-labelledby="headingOne"
                                                                data-parent="#accordionExample">
                                                                <div class="card-body">
                                                                    <ol class="comment-list">
                                                                        <!-- #comment-## -->
                                                                        
                                                                        <!-- #comment-## -->
                                                                        {% for sub_comment in comment.blog_comment_set.all %}
                                                                        <li>
                                                                            <div class="comment-body">
                                                                                <div class="comment-author">
                                                                                    <img class="icon-comment" src="{{sub_comment.user.user_profile.url}}" alt="..." style="font-size: 28px;
                                                    
                                                            right: -20px;
                                                            top: -27px;
                                                            width: 50px;
                                                            height: 50px;

                                                            border-radius: 10px;
                                                            color: #fff;
                                                            text-align: center;
                                                            line-height: 50px;"/>
                                                                                    <cite class="fn">{{sub_comment.user.first_name}}</cite>
                                                                                    <span class="says">گفت:</span>
                                                                                    <div class="commentmetadata">
                                                                                        <a href="#">
                                                            {{sub_comment.user.get_full_name | upper }} در تاریخ {{ sub_comment.created_date | show_jalali_month }}                                                       

                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                                <p>
                                                                                    {{sub_comment.text}}
                                                                                </p>
                                
                                                                                <div class="reply"><button class="btn btn-primary  mb-2" type="button"
                                                                                    data-toggle="collapse"
                                                                                    data-target="#sub_collapse{{sub_comment.id}}"
                                                                                    aria-expanded="false"
                                                                                    aria-controls="sub_collapse{{sub_comment.id}}">
                                                                                    پاسخ دهید</button></div>
                                                                                <div class="accordion dt-sl accordion-product" id="accordionExample">
                                                                                    <div class="card">
                                                                                        <div class="card-header" id="headingThree">
                                                                                            <h5 class="mb-0">
                                                                                                
                                                                                            </h5>
                                                                                        </div>
                                                                                        <div id="sub_collapse{{sub_comment.id}}" class="collapse accordion-collapse " aria-labelledby="headingThree"
                                                                                            data-parent="">
                                                                                            <div class="card-body">
                                                                                            
                                                                                                    <div class="section-title title-wide no-after-title-wide dt-sl">
                                                                                                        <h2>پرسش و پاسخ</h2>
                                                                                                        <p class="count-comment">پاسخ خود را در مورد وبلاگ مطرح نمایید</p>
                                                                                                    </div>
                                                                                                    <div class="form-question-answer dt-sl mb-3">
                                                                                                        
                                                                                                            <textarea id="reply_blog_comment{{sub_comment.id}}" class="form-control mb-3" rows="5"></textarea>
                                                                                                            <button onclick="reply_to_blog_comment({{sub_comment.id}},{{blog.id}})" 
                                                                                                                    class="btn btn-dark float-right ml-3" >ثبت پرسش</button>
                                                                                                            <div class="custom-control custom-checkbox float-right mt-2">
                                                                                                                <input type="checkbox" class="custom-control-input" id="customCheck3">
                                                                                                                <label class="custom-control-label" for="customCheck3">اولین پاسخی که به
                                                                                                                    پرسش من داده شد، از طریق ایمیل به من اطلاع دهید.</label>
                                                                                                            </div>
                                                                                                        
                                                                                                    </div>
                                                                                            </div>
                                                                                        </div>
                                                                                </div>
                                                                            </div>
                                                                           
                                                                            <ol class="children">
                                                                                {% for sub_sub_comment in sub_comment.blog_comment_set.all %}
                                                                                <li>
                                                                                    <div class="comment-body">
                                                                                        <div class="comment-author">
                                                                                            <img class="icon-comment mdi mdi-lightbulb-on-outline" src="{{comment.user.user_profile.url}}" alt="..." style="font-size: 28px;
                                                    
                                                                                                right: -20px;
                                                                                                top: -27px;
                                                                                                width: 50px;
                                                                                                height: 50px;
                                    
                                                                                                border-radius: 10px;
                                                                                                color: #fff;
                                                                                                text-align: center;
                                                                                                line-height: 50px;"/>
                                                                                            <cite class="fn">{{sub_sub_comment.user.first_name}}</cite> <span
                                                                                                class="says">گفت:</span>
                                                                                            <div class="commentmetadata">
                                                                                                <a href="#">
                                                                                                    {{sub_sub_comment.user.get_full_name | upper }} در تاریخ {{ sub_sub_comment.created_date | show_jalali_month }} 

                                                                                                </a>
                                                                                            </div>
                                                                                        </div>
                                                                                        <p>{{sub_sub_comment.text}}</p>
                                
                                                                                        
                                                                                            
                                                                                    </div>
                                                                                    
                                                                                    <!-- .children -->
                                                                                </li>
                                                                                {% endfor %}
                                                                                <!-- #comment-## -->
                                                                            </ol>
                                                                            <!-- .children -->
                                                                        </li>
                                                                        {% endfor %}
                                                                    </ol>
                                                                        
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                               </div>
                                            </div>
                                        
                                            
                                            <div class="col"></div>
                                        </div>
                                        
                                    </div>
                                </li></div>
                                    {% endif %}
                            {% endfor %}

                                
                            </ol>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12 col-12 mb-3 sidebar sticky-sidebar">
                        <div class="widget-posts dt-sn dt-sl rounded-0 border-bottom mb-3">
                            <div class="title-sidebar dt-sl mb-3">
                                <h3>جدیدترین نوشته ها</h3>
                            </div>
                            <div class="content-sidebar dt-sl">
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="item-thumb">
                                            <a href="#" class="img-holder"
                                                style="background-image: url('./assets/img/post-thumbnail/1.png')"></a>
                                        </div>
                                        <p class="title">
                                            <a href="#">سایت و فروشگاهتو طراحی کن</a>
                                        </p>
                                        <div class="item-meta">
                                            <span class="time">۱۰ مرداد ۱۳۹۸</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="item-thumb">
                                            <a href="#" class="img-holder"
                                                style="background-image: url('./assets/img/post-thumbnail/2.png')"></a>
                                        </div>
                                        <p class="title">
                                            <a href="#">امنیت سایتت رو تامین کن</a>
                                        </p>
                                        <div class="item-meta">
                                            <span class="time">۱۰ مرداد ۱۳۹۸</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="item-thumb">
                                            <a href="#" class="img-holder"
                                                style="background-image: url('./assets/img/post-thumbnail/3.png')"></a>
                                        </div>
                                        <p class="title">
                                            <a href="#">اینستاگرام را پول ساز کن</a>
                                        </p>
                                        <div class="item-meta">
                                            <span class="time">۱۰ مرداد ۱۳۹۸</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-inner">
                                        <div class="item-thumb">
                                            <a href="#" class="img-holder"
                                                style="background-image: url('./assets/img/post-thumbnail/4.png')"></a>
                                        </div>
                                        <p class="title">
                                            <a href="#">سایت خودت رو چندزبانه کن</a>
                                        </p>
                                        <div class="item-meta">
                                            <span class="time">۱۰ مرداد ۱۳۹۸</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dt-sn dt-sl rounded-0 border-bottom mb-3">
                            <div class="section-title text-sm-title title-wide no-after-title-wide mb-1">
                                <h2>دسته ها</h2>
                            </div>
                            <ul class="category-list">
                                <li><a href="#">بهینه سازی</a></li>
                                <li><a href="#">برنامه نویسی</a></li>
                                <li><a href="#">طراحی سایت</a>
                                    <ul>
                                        <li><a href="#">وردپرس</a></li>
                                        <li><a href="#">پلاگین نویسی</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">گرافیک</a></li>
                            </ul>
                        </div>
                        <div class="dt-sn dt-sl rounded-0 border-bottom">
                            <div class="section-title text-sm-title title-wide no-after-title-wide mb-1">
                                <h2>برچسبها</h2>
                            </div>
                            <ul class="tag-list">
                                <li><a href="#">بهینه سازی</a></li>
                                <li><a href="#">برنامه نویسی</a></li>
                                <li><a href="#">طراحی سایت</a></li>
                                <li><a href="#">وردپرس</a></li>
                                <li><a href="#">پلاگین نویسی</a></li>
                                <li><a href="#">گرافیک</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- End main-content -->
    {% endblock %}
</body>

</html>